[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=congratulations_captcha
Exec=/usr/bin/single-instance /opt/congratulations_captcha/bin/congratulations_captcha
Icon=/usr/share/icons/hicolor/80x80/apps/congratulations_captcha80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
